name: Auto-merge Dependabot PRs for web-features

on:
  pull_request:
    types:
      - opened

permissions:
  pull-requests: write
  contents: write

jobs:
  dependabot-automation:
    runs-on: ubuntu-slim
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2

      - name: Auto-merge
        if: |
          contains(steps.metadata.outputs.dependency-names, 'web-features') &&
          (steps.metadata.outputs.update-type == 'version-update:semver-patch' ||
           steps.metadata.outputs.update-type == 'version-update:semver-minor')
        run: |
          gh pr review --approve "$PR_URL"
          gh pr edit "$PR_URL" -t "(auto merged) $PR_TITLE"
          gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          PR_TITLE: ${{github.event.pull_request.title}}
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
