name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  test:
    name: Run E2E Tests
    uses: ./.github/workflows/e2e.yml

  npm-publish:
    name: Publish to npm
    needs: test
    runs-on: ubuntu-slim
    timeout-minutes: 10
    # Using npm OIDC Trusted Publishing
    # Reference: https://docs.npmjs.com/trusted-publishers#github-actions-configuration
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: '22.x'
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'

      - name: Update npm to latest version
        run: npm install -g npm@latest

      - name: Install dependencies
        run: npm ci

      - name: Publish to npm
        run: npm publish
